/* _base.scss */

/* --------------------------------------------
    CUSTOM STYLES
   -------------------------------------------- */

/* This file contains the changes made in the default CSS Bootstrap style.
   The styles defined here will OverWrite the boostrap default styles.
   Hence, it's written as a CSS file but includes the possiblity
   to define new CSS attributes using the variables specified in _variables or
   _variablescustom.css, since it's an .scss file. */

navbar.bg-light {
  background-color: #5da9f5 !important;
}
<<<<<<< HEAD
//#f8f9fa

.dropdown-menu:hover {
}
=======
//Default color: #f8f9fa

//Esto hace que el menu se despliegue con solo passar mouse por encima, complemento Jquery https://stackoverflow.com/questions/42183672/bootstrap-v4-navbar-dropdown-hover
.dropdown:hover>.dropdown-menu{
    display:block
}
//No funciona, potser no esta ben ficat
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}


/* --------------------------------------------
//Team members custom styles
-------------------------------------------- */

//Jumbotron
//Bckgnd image
#jmbtrn_team_members{
  background: url("../img/team_members_all_croptop.jpg") center top no-repeat;
  background-size: cover;
  background-color: #5da9f5; //Color to be used in case image is unavailable
  color: #fff; //Changes tile color
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  padding-top:10em;
  padding-bottom:0em;
  margin-bottom:0px;
}

//increase the space between top and the title in big devices, design mobile first https://www.w3schools.com/css/css_rwd_mediaqueries.asp
@media only screen and (min-width: 850px) {
  #jmbtrn_team_members{
    padding-top:15em;
  }
}
@media only screen and (min-width: 1150px) {
  #jmbtrn_team_members{
    padding-top:20em;
  }
}

#jmbtrn_team_members .container-fluid{
  background:rgba(0, 0, 0, 0.466);
  padding-bottom:65px;  //Change the size of the box by adjusting that bottom padding, with 10px es mes prim i tambe queda be
  //Podem ficar un padding mes gran perque ocupi més part de la pantalla
}


//Team pictures bar
//This removes the 15px padding of the columns of the row of team pictures
  #team_pictures .col-2{
    padding-right:0px;
    padding-left:0px;
  }


//TEAM members presentation
#team_members_presentation{
  //margin altura my el configurem directe a html
  //padding altura py el configurem directe a html
  //fiquem margin i  padding per mostrar la linia rodona
  //rounded al html per fer que les cantos de la linia siguin rodons.
  .row{
    border: 2px solid gray;
  }
  img{
    border-style:dashed;
    border-color: gray;
    border-width: 5px;
    min-width: 100px;
  };
}

@media only screen and (max-width: 577px) {
  #team_members_presentation img{
    max-width:30%;
  }
}
>>>>>>> 7960cd031b4c023af70f2b6e61e8188bbf06d970
